<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

	<h1><center>Cadastro</center></h1>
	<form class="container" method="post">
	<div class="row">
		<div class="input-field col s10">
			Endereço: <input type="text" value="" name="streetName" required="required"/><br><br>
		</div>
		<div class="input-field col s1">
			Nº:<input type="number"  value="" name="number" required="required"/><br><br>
		</div>
	</div>	
	
	<div class="row">
		<div class="input-field col s4">
			Complemento: <input type="text" value="" name="complement" /><br><br>
		</div>
		<div class="input-field col s4">
			Bairro:<input type="text"  value="" name="neighbourhood" required="required"/><br><br>
		</div>
		<div class="input-field col s3">
			CEP:<input type="number"  value="" name="zipcode" required="required"/><br><br>
		</div>
	</div>	
	
		<div class="row">
		<div class="input-field col s4">
			Cidade: <input type="text" value="" name="city" required="required"/><br><br>
		</div>
		<div class="input-field col s4">
			Estado:<input type="text"  value="" name="state" required="required"/><br><br>
		</div>
		<div class="input-field col s4">
			País:<input type="text"  value="" name="country" required="required"/><br><br>
		</div>
	</div>	
	
		<div class="row">
		<div class="input-field col s6">
			Latitude: <input type="number" value="" name="latitude"/><br><br>
		</div>
		<div class="input-field col s6">
			Longitude:<input type="number"  value="" name="longitude" /><br><br>
		</div>
	</div>	
	
	
	<br><br>
	
	<a href="/address-stoom" class="waves-effect waves-light btn">Inicio</a>
	
	<button type="submit" class="waves-effect waves-light btn">Salvar</button>
	
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
	
</body>
</html>