<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Desafio-Stoom</title>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Desafio - Stoom</h1>


<a href="/cadastro" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar</a>

<a href="/address" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Lista</a>



<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>